body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  cursor: pointer;
}
li {
  padding: 1rem;
  border: 1px solid beige;
  margin: 1rem;
  border-radius: 0.5rem;
}
.div-u {
  font-size: large;
}
.div-l {
  font-size: small;
}
